* {
    font-family: "Figtree", sans-serif;
}

.navbar {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 250px;
    display: flex;
    justify-content: right;
}

.col-md {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 130px;
}

.usuario {
    padding-left: 80px;
}

.usr {
    color: white;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
    background-color: orangered;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    height: 40px;
}


#img_car{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100px;
}

#boton {
    border-radius: 5px;
    border-color: orangered;
    color: orangered;
}

#boton:hover {
    background-color: orange;
    color: white;
    border-radius: 5px;
    border-color: orange;
}
#imgLogo {
    border-radius: 50%;
    width: 70px;
    height: 50px;
}

.menu {
    background: none;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}
header {
    background-color: rgb(30, 28, 28);
    color: white;

}
.carrito {
    background-color: rgb(11, 11, 11);
    color: white;
    text-align: center;
    padding: 50px;
}

.text-two {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}


.border {
    border: 2px solid rgb(236, 95, 35);
    border-radius: 10px;
    height: 380px;
    width: auto;
    padding: 5px;
    margin: 15px;
}
.contact {
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;

}

@media (max-width:550px){
    .h2.text-two {
        font-size: 1.5rem;
    }
    #img_car{
        width: 50px;
        height: 70px;
    }
}
