*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display:flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(130deg,black,rgb(186, 53, 4));
}

.container{
  max-width: 700px;
  width:100%;
  padding: 25px 30px;
  background-color: rgb(9, 0, 0);
  border-radius: 5px;
}

.container .titulo{
  font-size: 50px;
  font-weight: 500;
  color: rgb(226, 226, 226);
  text-align: center;
}

.container form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 12px 0;
}

form .form-grupo{
  margin-bottom: 15px;
  width: calc(100%/2 - 20px);
}

form span{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: aliceblue;
}

.form-grupo input{
  height: 40px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(87, 87, 87);
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  background-color: rgb(196, 196, 196);
}

.form-grupo input:focus,
.form-grupo input:valid{
  border-color: rgb(186, 53, 4);
}

form .boton{
  width: 100%;
  height: 40px;
  margin: 40px 0;  
}

form .boton button{
  width: 100%;
  height: 100%;
  outline: none;
  cursor: pointer;
  background: linear-gradient(130deg,black,rgb(186, 53, 4));
  color: rgb(206, 206, 206);
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
}*/

.boton button:hover{
  background: linear-gradient(130deg, rgb(186, 53, 4),black);
}

@media(max-width:550px){

  .container{
    max-width: 100%;
  }

  form .form-grupo{
    margin-bottom: 15px;
    width: 100%;
  }

  .container form{
    max-height: 400px;
    overflow-y:scroll;
  }

  .container form::-webkit-scrollbar{
    width: 0;
  }

  form .button{
    margin: 20px 0;
  }
}

