* {
    padding: 0;
    margin: 0;
    font-family: "Figtree", sans-serif;
}
.navbar {
    margin-left: 20px;
    margin-right: 5px;
    
}
.usr {
    margin-left: 10px;
    background-color: orangered;
    border-radius: 50%;
    width: 30px;
    color: white;
    align-items: center;
    
}

#imgLogo {
    border-radius: 50%;
    width: 70px;
    height: 50px;
}
.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.botones {
    padding-left: 120px;
}

.navbar-nav {
    padding-left: 500px;
}
.usuario {
    padding-left: 80px;
}

.usr {
    color: white;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
}
.menu {
    background: none;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}
#boton {
    background-color: orangered;
    color: white;
    border-radius: 5px;
    border-color: orangered;
}

#boton:hover {
    background-color: orange;
    color: white;
    border-radius: 5px;
    border-color: orange;
}

#boton2 {
    border-radius: 5px;
    border-color: orangered;
    color: orangered;
}

#boton2:hover {
    background-color: orange;
    color: white;
    border-radius: 5px;
    border-color: orange;
}

.navbar {
    margin-left: 20px;
    margin-right: 5px;
}

#imgLogo {
    border-radius: 50%;
    width: 70px;
    height: 50px;
}

.menu {
    background: none;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.botones {
    padding-left: 120px;
}

.navbar-nav {
    padding-left: 300px;
}


.usuario {
    padding-left: 80px;
}

.usr {
    color: white;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
}

.catalago {
    text-align: center;
}

.contac {
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;

}

footer ul li {
    list-style: none;
    margin: 0 15px;
}

.agregar-producto {
    background: black;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
    width: 40%;
    min-width: 300px;
}
section{
    padding: 30px;
    background-color: black;
}

#mostrarCatalogo{
    margin-left: 30px;
}

main{
    background-color: black;
    color: aliceblue;
}

#nombreP, #precioP{
    
    margin-bottom: 10px;
}

.input-group{
    padding: 0;
}

header{
    background-image: url('../images/fondo2.jpeg');
    background-size: cover;
    background-position: top;
    height: 300px;
    color: white;
}

.caja{
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.datos{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding-left: 40px;
    margin-left: 20px;
}

#btnAgregarProducto, #btnGuardarProducto, #btnActualizar, #btnSeleccionar, #btnEliminar{
    background-color: orangered;
    color: white;
    border-radius: 5px;
    border-color: orangered;
    padding: 6px;
    margin-bottom: 20px;
}



.editar-producto{
    margin-left: 70px;
}

@media (max-width: 550px) {
     .navbar-collapse {
        text-align: center; 
    }
    .agregar-producto {
        width: 90%;
    }
     .contact {
        text-align: center;
        font-size: 0.8em;
        justify-content: center;
    }
    .navbar{
        margin-left: 0px;
        text-align: center;
        justify-content: center;

    }
    .usuario {
        padding-left: 20px;
        font-size: 0.8em;

    }
    .usr{
        font-size: 0.8em;
        justify-content: center;
        text-align: center;
        padding: 0px;
    }
    .navbar-nav {
        padding-left: 10px;
        align-items: center;
        justify-content: center;
    }

    #boton {
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        margin-bottom: 12px;

    }

    .botones {
        font-size: 0.8em;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
        margin-bottom: 5px;
    }
}